# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.log

# Virtual environment
.env
.venv
venv/
ENV/

# Environment variables
*.env

# SQLite databases
*.db
*.sqlite3

# Pytest cache
.pytest_cache/
.coverage
htmlcov/

# VSCode / IDE configs
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Dist / build
dist/
build/
*.egg-info/
